<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>busReservation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserValidationServlet</display-name>
    <servlet-name>UserValidationServlet</servlet-name>
    <servlet-class>bus.servlets.UserValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidationServlet</servlet-name>
    <url-pattern>/UserValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>regiseterser</display-name>
    <servlet-name>regiseterser</servlet-name>
    <servlet-class>bus.servlets.regiseterser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regiseterser</servlet-name>
    <url-pattern>/regiseterser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchserv</display-name>
    <servlet-name>searchserv</servlet-name>
    <servlet-class>bus.servlets.searchserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchserv</servlet-name>
    <url-pattern>/searchserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmServlet</display-name>
    <servlet-name>ConfirmServlet</servlet-name>
    <servlet-class>bus.servlets.ConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmServlet</servlet-name>
    <url-pattern>/ConfirmServlet</url-pattern>
  </servlet-mapping>
</web-app>